[submodule "command_line_tools/alfred_0.1.17"]
	path = command_line_tools/alfred_0.1.17
	url = https://github.com/mskcc-cwl/alfred_0.1.17
[submodule "command_line_tools/gatk_4.1.0.0"]
	path = command_line_tools/gatk_4.1.0.0
	url = https://github.com/mskcc-cwl/gatk_4.1.0.0
